<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<![endif]-->
<!-- page-about-us01:28-->
<head>
    <title>Grabbs - Transport and Logistics</title>
    <meta name="author" content="Nile-Theme">
    <meta name="robots" content="index follow">
    <meta name="googlebot" content="index follow">
    <!-- Favicon -->
    <link rel="icon" href="./img/grabbsblack.png" type="image/png">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, modern, shipment, transport, transportation, truck, trucking">
    <meta name="description" content="Redefining Standards...">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,500,600,700,400i,500%7CDancing+Script:700%7CDancing+Script:700%7CGreat+Vibes:400%7CPoppins:400%7CDosis:800%7CRaleway:400,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- animate -->
    <link rel="stylesheet" href="./landing/assets/css/animate.css" />
    <!-- owl Carousel assets -->
    <link href="./landing/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="./landing/assets/css/owl.theme.css" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="./landing/assets/css/bootstrap.min.css">
    <!-- hover anmation -->
    <link rel="stylesheet" href="./landing/assets/css/hover-min.css">
    <!-- flag icon -->
    <link rel="stylesheet" href="./landing/assets/css/flag-icon.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="./landing/assets/css/style.css">
    <!-- elegant icon -->
    <link rel="stylesheet" href="./landing/assets/css/elegant_icon.css">

    <!-- jquery library  -->
    <script src="./landing/assets/js/jquery-3.2.1.min.js"></script>
    <!-- fontawesome  -->
    <link rel="stylesheet" href="./landing/assets/fonts/font-awesome/css/font-awesome.min.css">

</head>

<body>
    <!--  Header  -->
   
    <header>
        <div id="fixed-header-dark" class="header-output fixed-header">
            <div class="header-output">
                <div class="container header-in">

                    <!-- Up Head -->
                    <div class="up-head d-lg-block">
                        <div class="row">
                            <div class="col-xl-10 col-lg-12">
                                <div class="row">
                                    <div class="col-md-3.5"><i class="fa fa-phone margin-right-10px"></i> +2348035453965, +2347056422661</div>
                                    <div class="col-md-3"><i class="fa fa-envelope-o margin-right-10px"></i> info@grabbs.com.ng</div>
                                    <div class="col-md-6"><i class="fa fa-map-marker margin-right-10px"></i> 1 Ibukunoluwa Awosika Street, Idado, Lekki. Lagos</div>
                                </div>
                            </div>
                            <div class="col-xl-2 d-xl-block">
                                <div class="row">


                                    <div class="col-lg-12">
                                        <!--  Social -->
                                        <ul class="social-media list-inline text-right margin-0px text-white">
                                            <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                        </ul>
                                        <!-- // Social -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // Up Head -->


                    <div class="position-relative">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <a id="logo" th:href="@{/}" class="d-inline-block margin-tb-15px"><img src="./img/grabbs.png" height = "70px" alt=""></a>
                                <a class="mobile-toggle padding-15px background-second-color border-radius-3" href="#"><i class="fa fa-bars"></i></a>
                            </div>
                            <div class="col-lg-7 col-md-12 position-inherit">
                                <ul id="menu-main" class="nav-menu float-xl-left text-lg-center link-padding-tb-25px white-link dropdown-dark">
                                    <li><a href="index.html">Home</a>

                                    </li>
                                    <li><a href="page-about-us.html">About Us </a></li>

                                    </li>
                                    <li ><a href="./index.html#services">Services</a>

                                    </li>

                                    <li ><a  href="blog-single.html">Jobs</a>

                                    </li>

                                    <li ><a href="#">Login</a>

                                    </li>

                                    <li ><a href="#">Register Truck</a>

                                    </li>




                                </ul>


                            </div>
                            <div class="col-lg-2 col-md-12   d-lg-block">
                                <a th:href="@{/request/new}" class="btn btn-sm border-radius-30 margin-tb-20px text-white  background-main-color  box-shadow float-right padding-lr-20px margin-left-30px d-block">
                                    <i class="fa fa-truck margin-right-10px"></i>  Request for Truck
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- // Header  -->

    <!-- // Header  -->


    <div class="page-title" style="padding-top: 100px;">
        <div class="container">
            <div class="padding-tb-120px">
                <h1>About Us</h1>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>
    </div>


    <!--============= About Us =============-->
    <div class="nile-about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 sm-mb-45px">

                    <div class="section-title-right text-main-color clearfix">
                        <div class="icon"><img src="./landing/assets/icons/title-icon-1.png" alt=""></div>
                        <h2 class="title-text">Who We Are ?</h2>
                    </div>
                    <div class="about-text margin-tb-25px">
                        Grabbs Integrated Services Ltd (GRABBS) is a Transport and Logistics company operating out of Lagos, Nigeria with a focus on the local and regional supply chain market.
                        <br> <br>Incorporated in 2013 to carry on business as a support service company, Grabbs has grown to be a major player in the heavy duty logistics segment associated with outbound port services as well as FMCGs like cement and petroleum products.
                    <br><br>
                    Grabbs currently operate sizable fleet of flatbed trucks and covered body trucks and has developed a fleet growth plan to acquire hundreds of trucks to consolidate on her market share.
                </div>

                </div>
                <div class="col-lg-6">
                    <img src="./landing/assets/img/about-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--============= //About Us =============-->




    <div class="call-action ba-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 padding-tb-15px">
                    <h2>Unbeatable Trucking and Transport Services</h2>
                    <div class="text">Grabbs currently operate sizable fleet of flatbed trucks and covered body trucks and has developed a fleet growth plan to acquire hundreds of trucks to consolidate on her market share.</div>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                       
                        <div class="col-lg-4 col-md-4 sm-mb-45px">
                            <a href="page-about-us.html" class="action-bottom layout-1">
								<img src="./landing/assets/icons/small-icon-2.png" alt=""> 
								<h4>Read More</h4>
							</a>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <a href="#footer" class="action-bottom layout-1">
								<img src="./landing/assets/icons/small-icon-3.png" alt=""> 
								<h4>Contact Us</h4>
							</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="nile-about-section">
        <div class="container">
            <!-- Title -->
            <div class="section-title margin-bottom-40px">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="icon text-main-color"><i class="fa fa-truck"></i></div>
                        <div class="h2">Our Services</div>
                    </div>
                </div>
            </div>
            <!-- // End Title -->

            <div class="row">

                <div class="col-lg-4">
                    <div class="service-icon-box">
                                <div class="icon text-main-color"><i class="fa fa-truck fa-3x"></i></div>
                        <a  class="title h2">Haulage</a>
                        <div class="des">We help companies and individuals in moving truckload of goods nationwide</div>
                    </div>
                    <div class="service-icon-box">
                                <div class="icon text-main-color"><i class="fa fa-truck fa-3x"></i></div>
                        <a  class="title h2">Truck Sales</a>
                        <div class="des">We import trucks and also help companies & individuals in the sales of any kind of truck</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center sm-mb-45px">
                        <img src="./landing/assets/img/service_1.jpg" alt="" class="border-radius-500">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-icon-box">
                                <div class="icon text-main-color"><i class="fa fa-truck fa-3x"></i></div>
                        <a  class="title h2">Heavy Duty Spare Parts</a>
                        <div class="des">We acquire and provide spare parts for heavy duty trucks</div>
                                 </div>
                    <div class="service-icon-box">
                                <div class="icon text-main-color"><i class="fa fa-truck fa-3x"></i></div>
                        <a  class="title h2">Fleet Management</a>
                        <div class="des">We utilise some strategic fleet management process to manage all fleet and asset information, from acquisition through to disposal.</div>
                        </div>
                </div>



            </div>


            <div class="text-center margin-top-35px">
                <a href="home-1.html#services" class="nile-bottom md">Show all <i class="fa fa-arrow-right"></i> </a>
            </div>

        </div>
    </div>


    <footer class="layout-dark" id="footer">
        <div class="container padding-tb-100px">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="about-us sm-mb-45px">
                        <div class="logo-footer margin-bottom-35px">
                            <a  th:href="@{/}"><img src="./img/grabbs.png" height = "50px" alt=""></a>
                            <p> Redefining Standards...</p>
                        </div>
                        <div class="text margin-bottom-35px">
                            Grabbs Integrated Service Ltd (GRABBS) is a Transport and Logistics company operating out of Lagos, Nigeria with a focus on the local and regional supply chain market.
                        </div>
                        <a href="page-about-us.html" class="nile-bottom sm">Read More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="nile-widget widget_nav_menu sm-mb-45px">
                        <h2 class="title">Our Services</h2>
                        <ul class="footer-menu">
                            <li><a >Haulage </a></li>
                            <li><a >Truck sales </a></li>
                            <li><a >Truck Maintenance & Repairs </a></li>
                            <li><a >Distribution and Storage </a></li>
                            <li><a >Heavy duty spare parts </a></li>
                            <li><a >Freight forwarding </a></li>
                            <li><a >Fleet Management </a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="nile-widget widget_nav_menu sm-mb-45px">
                        <h2 class="title">Site Pages</h2>
                        <ul class="footer-menu">
                            <li><a href="index.html">Home </a></li>
                            <li><a href="#">Login </a></li>
                            <li ><a href="#">Register Truck</a></li>

                            <li><a href="page-about-us.html">About Us </a></li>
                            <li><a href="blog-single.html">Jobs </a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="nile-widget">
                        <div class="margin-bottom-60px">
                            <div class="contact-info opacity-9">
                                <div class="icon margin-top-5px"><span class="icon_pin_alt"></span></div>
                                <div class="text">
                                    <span class="font-weight-500 text-uppercase">1 Ibukunoluwa Awosika Street, Idado, Lekki. Lagos</span>
                                </div>
                            </div>
                        </div>
                        <div class="call_center">
                            <div class="contact-info opacity-9">
                                <div class="icon  margin-top-5px"><span class="icon_phone"></span></div>
                                <div class="text">
                                    <span class="font-weight-500 text-uppercase">+234 803 545 3965, +234 705 642 2661</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="copy-right">
            <div class="container padding-tb-50px">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copy-right-text text-lg-left text-center sm-mb-15px"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a> </div>
                    </div>
                    <div class="col-lg-6">
                        <!--  Social -->
                        <ul class="social-media list-inline text-lg-right text-center margin-0px text-white">
                            <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                        <!-- // Social -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="./landing/assets/js/YouTubePopUp.jquery.js"></script>
    <script src="./landing/assets/js/owl.carousel.min.js"></script>
    <script src="./landing/assets/js/imagesloaded.min.js"></script>
    <script src="./landing/assets/js/custom.js"></script>
    <script src="./landing/assets/js/popper.min.js"></script>
    <script src="./landing/assets/js/bootstrap.min.js"></script>

</body>


<!-- page-about-us01:28-->
</html>
